<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="http://use.typekit.com/bvc1jkf.js"></script>
  	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <title><%= @site.name %> from <%= pretty_date(@date) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/assets/css/ggt.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#content-registration .registration').css('display','none');
        function toggle_login_form(){
          $('#myModal').removeClass('modal');
          $('#modal-backdrop').removeClass('modal-dropbox');
          $('#modal-backdrop').css('height','30px');
          $('.send_to_mv').click(function(){
            if (document.cookie.indexOf("account_data") > -1){
              var get_send_to_mv_id = this.parentElement.getAttribute('id');
              var get_number = get_send_to_mv_id.split("send_to_mv")[1];
              var to_channel_id = "to_channel" + get_number;
              $("#"+to_channel_id).show();
              $(this).hide();
            }
            else{
              $('#myModal').addClass('modal');
              $('#modal-backdrop').addClass('modal-dropbox');
              $('#myModal').modal('toggle');
              $('.hover-content').css('z-index',1);
            }
          });
        }
        toggle_login_form();
        function logged_in(){
          if (document.cookie.indexOf("account_data") > -1){
            function getCookie(cname) {
              var name = cname + "=";
              var ca = document.cookie.split(';');
              for(var i=0; i<ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1);
                if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
              }
              return "";
            }
            $('.logout-form').click(function(){
              document.cookie.split(";").forEach(function(c) { document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); });
              $('#before_login').show();
              $('#after_login').hide();
              var x = document.getElementsByClassName("hover-content");
              var i;
              for (i = 0; i < x.length; i++) {
                var hover_content = "";
                x[i].innerHTML = hover_content;
              }
            })
            var account_cookie = unescape(getCookie("account_data"));
            var account_data_cookie = account_cookie.replace(/\+/gi, " ").split(",");
            var x = document.getElementsByClassName("hover-content");
            var i;
            $('#before_login').hide();
            $('#after_login').show();
            for (i = 0; i < x.length; i++) {
              var hover_content = "<div class='send_to_mv' id='send_to_mv_"+i.toString()+"'><button class='channel_name btn-primary btn send_to_mv'>Send To MV</button></div><div class='to_channel' id='to_channel_"+i.toString()+"'> <div class='channel_name btn-primary btn'>To Channel</div><div class='parent-buttons'>";
              for (var j = account_data_cookie.length - 1; j > 0; j--) {
                hover_content += "<a href='#' class='each_channel_name'>#"+account_data_cookie[j]+"</a><br>";
              };
              hover_content +="</div></div><div class='sent btn-primary btn'>Sent!</div>"
              x[i].innerHTML = hover_content;
              $('.to_channel').hide();
              $('.sent').hide();
              toggle_login_form();
            }
            $('.each_channel_name').click(function(e) {
              e.preventDefault();
              var tweet_id = this.parentNode.parentNode.parentNode.id;
              var person_id = account_data_cookie[0];
              var channel_name = this.innerHTML;
              var that = this
              var url = "/";
              $.ajax({
                type: "POST",
                url: "https://omnia.measuredvoice.com/api_idea"+".json",
                data: {"tweet_id": tweet_id, "person_id": person_id, "channel_name": channel_name },
                dataType: "html",
                success: function(data) {
                  $("#"+that.parentNode.parentNode.id).hide();
                  $($(that.parentNode.parentNode.parentNode).find($(".sent"))[0]).show()
                  $('.sent').click(function(){
                    $('.send_to_mv').show();
                    $($(that.parentNode.parentNode.parentNode).find($(".sent"))[0]).hide()
                  })
                },
                error: function(err) {
                }
              });
            });
          };
        };
        logged_in();
        $("#new_person").submit(function(e){
          e.preventDefault();
          var email = $("#person_email").val();
          var password = $("#person_password").val();
          var url = "/";
          $.ajax({
            type: "POST",
            url: "https://omnia.measuredvoice.com/api_login"+".json",
            data: {"email": email, "password" : password },
            dataType: "html",
            success: function(data) {
              var account_data = JSON.parse(data)
              var d = new Date();
              d.setTime(d.getTime() + (24*60*60*1000));
              var expires = "expires="+d.toUTCString();
              document.cookie='account_data='+account_data + "; " + expires;
              $('#before_login').hide();
              $('#after_login').show();
              $('#content-registration').hide();
              logged_in();
              $('.fade').removeClass('in').addClass('out');
              $('body').removeClass('modal-open');
            },
            error: function(err) {
              var x = document.getElementsByClassName("error-message");
              x[0].innerHTML = "Invalid Email address or password!";
            }
        });
        })
      })
  </script>
    <%= render "shared/social_sharing_setup" %>
  	<div class="container topmost">
      <div class="row">
        <div class="col-lg-2 col-12">
          <div class="twitter-follow-container">
            <%= render :partial => "shared/twitter_follow_button", :locals => { :site => @site } %>
          </div>
        </div>
        <div class="col-lg-10 col-12">
          <span id="mv-logo"><a href="http://measuredvoice.com">Measured Voice, the only social media management tool designed for government.</a></span>  
        </div>
      </div>
      <% if @site.partner_logo_url.present? %>
      <div class="row">
        <div class="col-lg-12 col-12">
          <span id="partner-logo">
            <% if @site.partner_link_url.present? %>
            <a href="<%= @site.partner_link_url %>"><img src="<%= @site.partner_logo_url %>"></a>
            <% else %>
              <img src="<%= @site.partner_logo_url %>">
            <% end %>
          </span>
        </div>
      </div>
      <% end %>
    </div>
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="brand col-lg-8 col-12">
            <% if @is_main_index %>
            <h1><%= @site.name %></h1>
            <% else %>
            <h1><a href="/"><%= @site.name %></a></h1>
            <% end %>
            <h3 class="tagline"><%=raw @site.tagline %></h3>
          </div>
        </div>
      </div>
    </div>
	<div class="container">
		<div class="row tweet-lists">
		  <div class="col-12">
		    <div class="row">
          <div class="top-tweet-column col-12 col-lg-6">      
            <%= render :partial => "shared/social_sharing_buttons", :locals => { :site => @site } %>

            <h3>Top <%= @site.tweet_type %> from <%= pretty_date(@date) %></h3>
            
            <div class="row">
              <div class="col-lg-6 col-6">
                &lsaquo; <%=raw date_link(@date, :previous) %>
              </div>
                        
              <div class="col-lg-6 col-6">
                <% if !@is_main_index %>
                <span class="pull-right"><%=raw date_link(@date, :next) %> &rsaquo;</span>
                <% end %>
              </div>
            </div>
            
            <ol>
            <%count = 50%>
    		    <% @tweets.each do |tweet| %>
    		      <li>
    		        <a href="/<%= tweet.account.screen_name %>/status/<%= tweet.tweet_id %>/" class="details-link">More details</a>
    		        <div class="that-twitter-embed-thingy" id="tweet_id_<%=count%>">
    		        <blockquote class="twitter-tweet">
    		        <p><%= tweet.tweet_text %></p>
    		        &mdash; <%= tweet.account.name %> (@<%= tweet.account.screen_name %>) 
    		        <a href="https://twitter.com/<%= tweet.account.screen_name %>/statuses/<%= tweet.tweet_id %>"><%= pretty_date(@date) %></a>
    		        </blockquote>
                  <div class="hover-content" id="<%=tweet[:tweet_id]%>">
                    <button class='channel_name btn-primary btn send_to_mv'>Send To MV</button>
                  </div>
    		        </div>
    		      </li>
              <%count -= 1%>
    		    <% end %>
    		    </ol>
          </div>

          <div class="col-12 col-offset-1 col-lg-5 home-intro">
            
            <% if @site.cta_iframe.present? %>
            <iframe src="/iframes/<%= @site.id %>" class="mv-ad" id="iframe1"></iframe>
            <% end %>
            
            <hr>
            
            <h3>What is this?</h3>
            <p>
              <%=raw @site.explanation %>
            </p>
          </div>
        </div>
			</div>
		</div>
	</div>
  <%= render :partial => "sites/login_form_popup" %>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          <p>&copy; <%= @date.year %> Measured Voice</p>
          <hr>
          <p><strong><a href="<%= link_to_free_trial(@site) %>">Start your free 30-day 
          trial today</a>.</strong></p>
          <hr>
        </div>
      </div>
    </div>
  </footer>
    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <% if @site.google_analytics_code %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '<%= @site.google_analytics_code %>', '<%= @site.host_url %>');
      ga('send', 'pageview');

    </script>
    <% end %>
  </body>
</html>
